## Q1.Program to scrape data for “Data Analyst” Job position in “Bangalore” location from https://www.naukri.com/

In [ ]:
# !pip install selenium

In [1]:
import pandas as pd
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
job

In [5]:
job.send_keys('Data Analyst')

In [6]:
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc

In [7]:
search_loc.send_keys('Bangalore')

In [8]:
btn=driver.find_element_by_xpath("//button[@class='btn']")
btn

In [9]:
btn.click()

In [10]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title
# using for loop to extracting text
job_title=[]
for i in title:
    job_title.append(i.text)
print('\n Job Title',job_title)

 Job Title ['Data Analyst', 'Data Analyst', 'Senior Data Analyst', 'Senior Business Analyst- Data Science', 'Business/Data Analyst - Colleague Experience & Technology', 'Senior Data Analyst', 'Senior Data Analyst - Einstein Analytics', 'Data Analyst - Python', 'Data Analyst - 0-2 years (6 month contract)', 'Business/Data Analyst - SSE/LA', 'Senior Data Analyst', 'SQL Data Analyst', 'Business Data Analyst', 'Business Data Analyst', 'Data Analyst', 'Immediate Hiring For Data Analyst - Bangalore location', 'Data Analyst - Transportation', 'DMI Hiring Data Analyst in Bangalore', 'Data Analyst/Business Analyst-Gurgaon/Bangalore/Mumbai (only Females)', 'Immediate Hiring || Azure - Data Engineer/ Data Analyst']

In [11]:
com_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in com_name:
    company.append(i.text)
print('\n company name \n\n',company)

 company name

 ['CAREERLABS TECHNOLOGIES PRIVATE LIMITED', 'Tata Consultancy Services Ltd.', 'Nx-DT', 'Evalueserve.com Pvt. Ltd', 'Vmware', 'Telstra India Pvt Ltd', 'Enquero', 'Suyati Technologies Pvt Ltd', 'NIUM INDIA PRIVATE LIMITED', 'CGI Information Systems and Management Consultants', 'Liventus, Inc.', 'NetApp', 'Trigent Software', 'Trigent Software', 'ENCORA INNOVATION LABS INDIA PRIVATE LIMITED', 'Wissen Technology', 'Gojek Tech', 'DMI Innovations Pvt. Ltd', 'India Medtronic Pvt. Ltd,.', 'Incture Technologies Pvt. Ltd.']

In [12]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
job_loc=[]
for i in loc:
    job_loc.append(i.text)
print('\n Job Location \n\n',job_loc)

 Job Location

 ['Bangalore/Bengaluru\n(WFH during Covid)', 'Pune, Chennai, Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru\n(WFH during Covid)', 'Bangalore/Bengaluru(Whitefield)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Bangalore/Bengaluru', 'Kochi/Cochin, Bangalore/Bengaluru', 'New Delhi, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(2nd Phase JP Nagar)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)', 'Bhubaneswar, Bangalore/Bengaluru\n(WFH during Covid)']

In [13]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_req=[]
for i in exp:
    exp_req.append(i.text)
print('\n Experience Required',exp_req)

 Experience Required ['0-3 Yrs', '4-8 Yrs', '10-16 Yrs', '2-7 Yrs', '3-8 Yrs', '7-8 Yrs', '3-5 Yrs', '4-6 Yrs', '0-2 Yrs', '2-5 Yrs', '5-8 Yrs', '3-7 Yrs', '3-5 Yrs', '3-5 Yrs', '5-8 Yrs', '1-6 Yrs', '2-5 Yrs', '4-8 Yrs', '1-4 Yrs', '4-9 Yrs']

In [14]:
print('length of Job Title: ',len(job_title),
     '\nlength of Job Location: ',len(job_loc),
      '\nlength of Company Name: ',len(company),
      '\nLength of Experience Required: ',len(exp_req))

length of Job Title:  20
length of Job Location:  20
length of Company Name:  20
Length of Experience Required:  20

In [15]:
data=pd.DataFrame({'Title':job_title,'Location':job_loc,'Company Name':company,'Experience Required':exp_req})
data.iloc[0:10,]

,Title,Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
1,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,4-8 Yrs
2,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,10-16 Yrs
3,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,2-7 Yrs
4,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7-8 Yrs
6,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
7,Data Analyst - Python,"Kochi/Cochin, Bangalore/Bengaluru",Suyati Technologies Pvt Ltd,4-6 Yrs
8,Data Analyst - 0-2 years (6 month contract),"New Delhi, Gurgaon/Gurugram, Chennai, Bangalor...",NIUM INDIA PRIVATE LIMITED,0-2 Yrs
9,Business/Data Analyst - SSE/LA,Bangalore/Bengaluru,CGI Information Systems and Management Consult...,2-5 Yrs

#

## Q2: Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [16]:
import pandas as pd
import selenium
from selenium import webdriver

In [17]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [18]:
url='https://www.naukri.com/'
driver.get(url)

In [20]:
job_path=driver.find_element_by_id('qsb-keyword-sugg')
job_path.send_keys('Data Scientist')

In [21]:
loc_path=driver.find_element_by_id('qsb-location-sugg')
loc_path.send_keys('Bangalore')

In [23]:
btn=driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section/div/form/div[3]/button")
btn.click()

In [24]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles

job_titles=[]
for i in titles:
    job_titles.append(i.text)
job_titles=job_titles[0:10]
print('\n Job Title\n',job_titles)

 Job Title
 ['Data Scientist- Senior Business Analyst/Lead Analyst', 'Senior Data Scientist', 'Senior Data Scientist (Analytics),', 'Data Scientist: Advanced Analytics', 'Data Scientist', 'Senior Data Scientist', 'Senior Data Scientist', 'Lead Data Scientist', 'Senior Data Scientist - KPO', 'Lead Data Scientist - Retail Industry']

In [25]:
loc_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
job_loc_=[]
for i in loc_:
    job_loc_.append(i.text)
job_loc_=job_loc_[0:10]
print('\n Job Location \n\n',job_loc_)

 Job Location

 ['Gurgaon/Gurugram, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', '(WFH during Covid)', 'Mumbai, Bangalore/Bengaluru, Delhi / NCR']

In [26]:
c_names=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_names=[]
for i in c_names:
    com_names.append(i.text)
com_names=com_names[0:10]
print('\n company name \n',com_names)

 company name
 ['Evalueserve.com Pvt. Ltd', 'Signify', 'Luxoft', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'SMITHS DETECTION SYSTEMS PRIVATE LIMITED', 'Tiger Analytics India LLP', 'TransOrg Solutions Services (P) Ltd.', 'TalentCo Search Pvt Ltd', 'IBM India Pvt. Limited']

In [27]:
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_opening_url=[]
for i in url:
    job_opening_url.append(i.get_attribute('href'))
job_opening_url=job_opening_url[0:17]
job_opening_url

['https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16288322930906568&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-signify-bangalore-bengaluru-4-to-9-years-120821500683?src=jobsearchDesk&sid=16288322930906568&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-analytics-luxoft-bangalore-bengaluru-5-to-10-years-120821501307?src=jobsearchDesk&sid=16288322930906568&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-110821906281?src=jobsearchDesk&sid=16288322930906568&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-120821907824?src=jobsearchDesk&sid=16288322930906568&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-smiths-detection-systems-private-limited-bangalore-bengaluru-8-to-10-years-260721903257?src=jobsearchDesk&sid=16288322930906568&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-tiger-analytics-india-llp-chennai-bangalore-bengaluru-4-to-9-years-120821008955?src=jobsearchDesk&sid=16288322930906568&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-transorg-solutions-services-p-ltd-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-6-years-160721005471?src=jobsearchDesk&sid=16288322930906568&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kpo-talentco-search-pvt-ltd-mumbai-bangalore-bengaluru-delhi-ncr-6-to-10-years-110821908145?src=jobsearchDesk&sid=16288322930906568&xp=9&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-retail-industry-ibm-india-pvt-limited-bangalore-bengaluru-7-to-10-years-100821908363?src=jobsearchDesk&sid=16288322930906568&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-superior-group-bangalore-bengaluru-6-to-11-years-100821500375?src=jobsearchDesk&sid=16288322930906568&xp=11&px=1',
 'https://www.naukri.com/job-listings-advanced-data-scientist-exxon-mobil-corporation-bangalore-bengaluru-10-to-15-years-120821500623?src=jobsearchDesk&sid=16288322930906568&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cignex-datamatics-technologies-limited-bangalore-bengaluru-7-to-12-years-120821005670?src=jobsearchDesk&sid=16288322930906568&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-natural-language-processing-hyderabad-location-clifford-chance-business-services-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-5-to-10-years-120821000435?src=jobsearchDesk&sid=16288322930906568&xp=14&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-for-chennai-location-intelizign-engineering-services-pvt-ltd-hyderabad-secunderabad-chennai-bangalore-bengaluru-3-to-7-years-110821004891?src=jobsearchDesk&sid=16288322930906568&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-120821005878?src=jobsearchDesk&sid=16288322930906568&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cognizant-technology-solutions-india-pvt-ltd-chennai-bangalore-bengaluru-10-to-12-years-090821904407?src=jobsearchDesk&sid=16288322930906568&xp=17&px=1']

In [28]:
job_des=[]
for i in job_opening_url:
    driver.get(i)
    des=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for i in des:
        job_des.append(i.text.replace('\n',' '))
job_des=job_des[0:10]
print('\n Full Job Description \n\n',job_des)

 Full Job Description


In [29]:
print('length of Job Title: ',len(job_titles),
     '\nlength of Job Location: ',len(job_loc_),
      '\nlength of Company Name: ',len(com_names),
      '\nLength of Full Job Description: ',len(job_des))

length of Job Title:  10
length of Job Location:  10
length of Company Name:  10
Length of Full Job Description:  10

In [30]:
data=pd.DataFrame({'Title':job_titles,'Location':job_loc_,'Company Name':com_names,'Job Description':job_des})
data

,Title,Location,Company Name,Job Description
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,Job Description Understand and design analytic...
1,Senior Data Scientist,Bangalore/Bengaluru,Signify,"What you ll do Research, design and prototype ..."
2,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,Data and Analytics Proposal Responses for Cr...
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,Roles and Responsibilities Tiger Analytics is ...
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,Roles and Responsibilities Well-versed in qua...
5,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,- Ability to understand a problem statement an...
6,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Tiger Analytics India LLP,Provide advanced analytical capabilities to su...
7,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,Job Role Responsibilities Be a part of a growi...
8,Senior Data Scientist - KPO,(WFH during Covid),TalentCo Search Pvt Ltd,"Hi, We have an urgent requirement for Data Sc..."
9,Lead Data Scientist - Retail Industry,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",IBM India Pvt. Limited,Job Summary This role is a key contributor in...

#

# 3.In this question you have to scrape data using the filters available.....

In [31]:
import pandas as pd
import selenium
from selenium import webdriver

In [32]:
# connecting to driver
driver=webdriver.Chrome('chromedriver.exe')
driver

In [33]:
url='https://www.naukri.com/'
driver.get(url)

In [34]:
job_path=driver.find_element_by_id('qsb-keyword-sugg')
job_path.send_keys('Data Scientist')

In [35]:
search_click=driver.find_element_by_xpath("//button[@class='btn']")
search_click.click()

In [36]:
loc=driver.find_element_by_xpath('//span[@class="fw500"]')
loc.click()

In [37]:
sal=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
sal.click()

In [38]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles
job_titles=[]
for i in titles:
    job_titles.append(i.text)
print('\n Job Title \n\n',job_titles)

 Job Title

 ['Data Scientist- Senior Business Analyst/Lead Analyst', 'Senior Data Scientist', 'Senior Data Scientist (Analytics),', 'Data Scientist: Advanced Analytics', 'Data Scientist', 'Lead Data Scientist - Retail Industry', 'Senior Data Scientist', 'Senior Data Scientist', 'Lead Data Scientist', 'Senior Data Scientist - KPO', 'Senior Data Scientist', 'Senior/ Lead Data Scientist', 'Data Scientist', 'Data Scientist: Artificial Intelligence', 'Data Scientist: Artificial Intelligence', 'Data Scientist', 'Data Scientist: Advanced Analytics', 'Data Scientist: Artificial Intelligence', 'Advanced Data Scientist', 'Data Scientist']

In [39]:
c_names=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
com_names=[]
for i in c_names:
    com_names.append(i.text)
print('\n company name \n\n',com_names)

 company name

 ['Evalueserve.com Pvt. Ltd', 'Signify', 'Luxoft', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'SMITHS DETECTION SYSTEMS PRIVATE LIMITED', 'Tiger Analytics India LLP', 'TransOrg Solutions Services (P) Ltd.', 'TalentCo Search Pvt Ltd', 'TalentCo Search Pvt Ltd', 'Superior Group', 'Cognizant Technology Solutions India Pvt Ltd', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'Oracle India Pvt. Ltd.', 'IBM India Pvt. Limited', 'IBM India Pvt. Limited', 'Exxon Mobil Corporation', 'Travel Centric Technology']

In [49]:
loc_=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span") 
job_loc_=[]
for i in loc_:
    job_loc_.append(i.text)
job_loc_=job_loc_[:20]
print('\n Job Location \n\n',job_loc_)

 Job Location

 ['Gurgaon/Gurugram, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)', '(WFH during Covid)', 'Mumbai, Bangalore/Bengaluru, Delhi / NCR', 'Mumbai, Delhi / NCR, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [41]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
exp_req=[]
for i in exp:
    exp_req.append(i.text)
print('\n Experience Required \n\n',exp_req)

 Experience Required

 ['2-7 Yrs', '4-9 Yrs', '5-10 Yrs', '5-10 Yrs', '3-6 Yrs', '7-10 Yrs', '8-10 Yrs', '4-9 Yrs', '4-6 Yrs', '6-10 Yrs', '6-10 Yrs', '6-11 Yrs', '10-12 Yrs', '4-8 Yrs', '4-6 Yrs', '6-10 Yrs', '4-8 Yrs', '4-8 Yrs', '10-15 Yrs', '6-11 Yrs']

In [50]:
print('length of Job Title: ',len(job_titles),
     '\nlength of Job Location: ',len(job_loc_),
      '\nlength of Company Name: ',len(com_names),
      '\nLength of Experience Required: ',len(exp_req))

length of Job Title:  20
length of Job Location:  20
length of Company Name:  20
Length of Experience Required:  20

In [51]:
df=pd.DataFrame({'Title':job_titles,'Location':job_loc_,'Company Name':com_names,'Experience Required':exp_req})
df.iloc[0:10,]

,Title,Location,Company Name,Experience Required
0,Data Scientist- Senior Business Analyst/Lead A...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Evalueserve.com Pvt. Ltd,2-7 Yrs
1,Senior Data Scientist,Bangalore/Bengaluru,Signify,4-9 Yrs
2,"Senior Data Scientist (Analytics),",Bangalore/Bengaluru,Luxoft,5-10 Yrs
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,3-6 Yrs
5,Lead Data Scientist - Retail Industry,Bangalore/Bengaluru,IBM India Pvt. Limited,7-10 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,8-10 Yrs
7,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Tiger Analytics India LLP,4-9 Yrs
8,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,4-6 Yrs
9,Senior Data Scientist - KPO,(WFH during Covid),TalentCo Search Pvt Ltd,6-10 Yrs

#

## Q4.Program to scrape data for first 10 job results for Data scientist Designation in Noida location from https://www.glassdoor.co.in/index.htm

In [52]:
import pandas as pd
import selenium
from selenium import webdriver

In [67]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [68]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [69]:
job_path=driver.find_element_by_xpath("//input[@class='css-1etjok6']")
job_path.send_keys('Data Scientist')

In [70]:
loc_path=driver.find_element_by_id("sc.location")
loc_path.send_keys('Noida')

In [71]:
search_click=driver.find_element_by_xpath("//*[@id='scBar']/div/button/span/span")
search_click.click()

In [72]:
cname=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
com_name=[]
for i in cname:
    com_name.append(i.text)
print('\n Company Name \n\n',com_name)

 Company Name

 ['Applied Materials Inc.', 'Lunavo Labs/Swazei', 'Lericon infomatic pvt.ltd', 'Bizgaze Limited', 'Slice', 'Lericon infomatic pvt.ltd', 'Ambee', 'ParallelDots Technology Pvt Ltd', 'Sadup Softech', 'Entiretyin Pvt Ltd', 'Sciffer Analytics Pvt Ltd', 'OXO Solutions', 'Microsoft', 'Data Trained Education', 'NatWest Group', 'ValueLabs', 'Doon Public School, Junior Wing', 'A for Analytics IT Solution', 'ThirdEye Data', 'IceCream Labs', 'Aliqan Technologies', 'Talent Shiksha', 'GXO Logistics', '6sense', 'Microsoft', 'Tintri', 'Embien', 'YASH Technologies', 'mStack Inc', 'Mercedes-Benz Research and Development India Private Limited']

In [73]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
no_of_days=[]
for i in days:
    no_of_days.append(i.text)
print('\n No. Of Days \n\n',no_of_days)

 No. Of Days

 ['30d+', '1d', '7d', '3d', '', '6d', '24h', '16d', '6d', '7d', '3d', '30d+', '23d', '6d', '3d', '24h', '24h', '6d', '24h', '6d', '29d', '5d', '8d', '6d', '1d', '1d', '9d', '11d', '3d', '24h']

In [74]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
rating_=[]
for i in rating:
    rating_.append(i.text)
print('\n Job Title \n\n',rating_)

 Job Title

 ['4.0', '', '', '', '', '', '', '', '', '', '', '5.0', '4.4', '', '3.9', '3.8', '', '', '3.0', '4.1', '', '', '4.0', '4.9', '4.4', '3.2', '5.0', '', '3.3', '4.0']

In [75]:
print('length of Company Name: ',len(com_name),
     '\nlength of No. of Days: ',len(no_of_days),
      '\nlength of Company Rating: ',len(rating_))

length of Company Name:  30
length of No. of Days:  30
length of Company Rating:  30

In [76]:
df=pd.DataFrame({'Company Name':com_name,'No.of Days Ago':no_of_days,'Company Rating':rating_})
df.iloc[0:10,]

                      Company Name No.of Days Ago Company Rating
0           Applied Materials Inc.           30d+            4.0
1               Lunavo Labs/Swazei             1d
2        Lericon infomatic pvt.ltd             7d
3                  Bizgaze Limited             3d
4                            Slice
5        Lericon infomatic pvt.ltd             6d
6                            Ambee            24h
7  ParallelDots Technology Pvt Ltd            16d
8                    Sadup Softech             6d
9               Entiretyin Pvt Ltd             7d

#

## Q5.Program to scrape the salary data for Data Scientist designation in Noida location.from https://www.glassdoor.co.in/Salaries/index.htm

In [77]:
import pandas as pd
import selenium
from selenium import webdriver

In [59]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [78]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [79]:
job_path=driver.find_element_by_id('KeywordSearch')
job_path.send_keys('Data Scientist')

In [80]:
loc_path=driver.find_element_by_id('LocationSearch')
loc_path.send_keys('Noida')

In [81]:
search_click=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_click.click()

In [82]:
cname=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
com_name=[]
for i in cname:
    com_name.append(i.text)
print('\n Company Name \n',com_name)

 Company Name
 ['Tata Consultancy Services', 'IBM', 'Accenture', 'Delhivery', 'Ericsson-Worldwide', 'UnitedHealth Group', 'Optum', 'Valiance Solutions', 'EXL Service', 'Optum Global Solutions', 'ZS Associates', 'Innovaccer', 'OYO', 'Nagarro', 'Cognizant Technology Solutions', 'CARS24.com', 'dunnhumby', 'Vidooly Media Tech', 'Amazon', 'Tech Mahindra']

In [83]:
salary=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")
no_of_salaries=[]
for i in salary:
    no_of_salaries.append(i.text)
print('\n No.of Salaries \n',no_of_salaries)

 No.of Salaries
 ['18 salaries', '18 salaries', '15 salaries', '15 salaries', '14 salaries', '14 salaries', '10 salaries', '10 salaries', '9 salaries', '9 salaries', '8 salaries', '8 salaries', '7 salaries', '7 salaries', '6 salaries', '6 salaries', '6 salaries', '6 salaries', '5 salaries', '5 salaries']

In [84]:
asal=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

avg_sal=[]
for i in asal:
    avg_sal.append(i.text.replace('\n',' '))
print('\n Average Salary \n',avg_sal)

 Average Salary
 ['₹6,12,205  /yr', '₹9,00,000  /yr', '₹11,63,336  /yr', '₹12,18,244  /yr', '₹7,39,238  /yr', '₹12,80,000  /yr', '₹13,20,960  /yr', '₹8,63,750  /yr', '₹11,10,000  /yr', '₹13,28,697  /yr', '₹11,42,356  /yr', '₹12,09,040  /yr', '₹14,15,338  /yr', '₹10,22,074  /yr', '₹10,09,021  /yr', '₹10,00,000  /yr', '₹10,55,478  /yr', '₹34,157  /mo', '₹20,00,000  /yr', '₹10,54,402  /yr']

In [85]:
maxsal=driver.find_elements_by_xpath("//div[@class='d-none d-lg-flex col-2 align-items-center']")

max_sal=[]
for i in maxsal:
    max_sal.append(i.text.replace('Range: ','').replace('\n',' '))
print('\n Maximum Salary \n\n',max_sal)

 Maximum Salary

 ['₹3L ₹13L', '₹6L ₹27L', '₹6L ₹22L', '₹5L ₹1Cr', '₹4L ₹16L', '₹8L ₹15L', '₹8L ₹20L', '₹5L ₹15L', '₹6L ₹15L', '₹4L ₹22L', '₹2L ₹18L', '₹6L ₹17L', '₹10L ₹21L', '₹4L ₹16L', '₹8L ₹13L', '₹9L ₹15L', '₹8L ₹20L', '₹12T ₹63T', '₹10L ₹21L', '₹4L ₹17L']

In [86]:
max_s=[]    
for p in max_sal:
   max_s.append(p[4:]) 
max_s

['₹13L',
 '₹27L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹20L',
 '₹15L',
 '₹15L',
 '₹22L',
 '₹18L',
 '₹17L',
 ' ₹21L',
 '₹16L',
 '₹13L',
 '₹15L',
 '₹20L',
 ' ₹63T',
 ' ₹21L',
 '₹17L']

In [87]:
minsal=driver.find_elements_by_xpath("//div[@class='d-none d-lg-flex col-2 align-items-center']")

min_sal=[]
for i in minsal:
    min_sal.append(i.text.replace('Range: ','').replace('\n',' '))

print('\n Minimum Salary \n\n',min_sal)

 Minimum Salary

 ['₹3L ₹13L', '₹6L ₹27L', '₹6L ₹22L', '₹5L ₹1Cr', '₹4L ₹16L', '₹8L ₹15L', '₹8L ₹20L', '₹5L ₹15L', '₹6L ₹15L', '₹4L ₹22L', '₹2L ₹18L', '₹6L ₹17L', '₹10L ₹21L', '₹4L ₹16L', '₹8L ₹13L', '₹9L ₹15L', '₹8L ₹20L', '₹12T ₹63T', '₹10L ₹21L', '₹4L ₹17L']

In [88]:
min_s=[]    
for p in min_sal:
    min_s.append(p[:-4]) 
min_s

['₹3L ',
 '₹6L ',
 '₹6L ',
 '₹5L ',
 '₹4L ',
 '₹8L ',
 '₹8L ',
 '₹5L ',
 '₹6L ',
 '₹4L ',
 '₹2L ',
 '₹6L ',
 '₹10L ',
 '₹4L ',
 '₹8L ',
 '₹9L ',
 '₹8L ',
 '₹12T ',
 '₹10L ',
 '₹4L ']

In [89]:
print('length of Company Name: ',len(com_name),
     '\nlength of No. of Salaries: ',len(no_of_salaries),
      '\nlength of Average Salary: ',len(avg_sal),
      '\nlength of Maximum Salary: ',len(max_s),
      '\nlength of Minimum Salary: ',len(min_s))

length of Company Name:  20
length of No. of Salaries:  20
length of Average Salary:  20
length of Maximum Salary:  20
length of Minimum Salary:  20

In [90]:
df=pd.DataFrame({'Name':com_name,'No.of Salaries':no_of_salaries,'Average Salary':avg_sal,'Minimum Salary':min_s,'Maximun Salary':max_s})
df.iloc[0:10,]

,Name,No.of Salaries,Average Salary,Minimum Salary,Maximun Salary
0,Tata Consultancy Services,18 salaries,"₹6,12,205 /yr",₹3L,₹13L
1,IBM,18 salaries,"₹9,00,000 /yr",₹6L,₹27L
2,Accenture,15 salaries,"₹11,63,336 /yr",₹6L,₹22L
3,Delhivery,15 salaries,"₹12,18,244 /yr",₹5L,₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238 /yr",₹4L,₹16L
5,UnitedHealth Group,14 salaries,"₹12,80,000 /yr",₹8L,₹15L
6,Optum,10 salaries,"₹13,20,960 /yr",₹8L,₹20L
7,Valiance Solutions,10 salaries,"₹8,63,750 /yr",₹5L,₹15L
8,EXL Service,9 salaries,"₹11,10,000 /yr",₹6L,₹15L
9,Optum Global Solutions,9 salaries,"₹13,28,697 /yr",₹4L,₹22L

#

# 6.Scrape data of first 100 sunglasses listings on flipkart.com

In [91]:
import pandas as pd
import selenium
from selenium import webdriver

In [92]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [93]:
driver.get('https://www.flipkart.com/')

In [94]:
enter=driver.find_element_by_name('q')
enter.send_keys('sunglasses')

In [96]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

#### 1st page

In [97]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_name=[]
for i in brand:
    brand_name.append(i.text)
brand_name=brand_name[:-2]
print('\n Brand Name \n\n',brand_name)

 Brand Name

 ['Wrogn', 'ROYAL SON', 'Elligator', 'Fastrack', 'PIRASO', 'Fastrack', 'kingsunglasses', 'ROYAL SON', 'Fastrack', 'SUNBEE', 'kingsunglasses', 'ROYAL SON', 'PHENOMENAL', 'Fastrack', 'SHAAH COLLECTIONS', 'PIRASO', 'Fastrack', 'Fastrack', 'PIRASO', 'Wrogn', 'Fastrack', 'ROZZETTA CRAFT', 'GANSTA', 'PIRASO', 'Fastrack', 'ROZZETTA CRAFT', 'Silver Kartz', 'ROYAL SON', 'Fastrack', 'hipe', 'Fravy', 'ROYAL SON', 'SHAAH COLLECTIONS', 'PHENOMENAL', 'Elligator', 'ROYAL SON', 'kingsunglasses', 'Fravy']

In [98]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price_=[]
for i in price:
    price_.append(i.text)
price_=price_[:-2]
print('\n Price \n\n',price_)

 Price

 ['₹663', '₹474', '₹295', '₹513', '₹237', '₹758', '₹299', '₹899', '₹509', '₹331', '₹225', '₹379', '₹379', '₹1,010', '₹198', '₹237', '₹733', '₹1,085', '₹237', '₹1,007', '₹546', '₹404', '₹266', '₹399', '₹738', '₹499', '₹246', '₹664', '₹771', '₹199', '₹299', '₹499', '₹331', '₹379', '₹312', '₹499', '₹210', '₹179']

In [99]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount_=[]
for i in discount:
    discount_.append(i.text)
discount_=discount_[:-2]
print('\n Discount % \n\n',discount_)

 Discount %

 ['73% off', '68% off', '88% off', '35% off', '85% off', '15% off', '88% off', '55% off', '36% off', '80% off', '79% off', '74% off', '81% off', '22% off', '88% off', '85% off', '18% off', '16% off', '85% off', '69% off', '31% off', '79% off', '86% off', '84% off', '26% off', '77% off', '83% off', '55% off', '14% off', '86% off', '80% off', '66% off', '80% off', '81% off', '87% off', '66% off', '82% off', '80% off']

In [102]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_des=[]
for i in product:
    product_des.append(i.text)
product_des=product_des[:-2]
print('\n Product Description  \n\n',product_des)

 Product Description

 ['Mirrored Wayfarer Sunglasses (51)', 'UV Protection Retro Square Sunglasses (58)', 'UV Protection Round Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized Retro Square Sunglasses (58)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'UV Protection Round Sunglasses (54)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Aviator Sunglasses (60)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Aviator Sunglasses (58)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Rectangular Sunglasses (59)', 'UV Protection Sports Sunglasses (Free Size)', 'Mirrored, UV Protection, Gradient Round Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'Mirrored Round Sunglasses (53)', 'UV Protection Retro Square Sunglasses (58)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (56)']

In [103]:
print('length of Brand Name: ',len(brand_name),
     '\nlength of Price: ',len(price_),
      '\nlength of Discount Percentage: ',len(discount_),
      '\nlength of Product Description: ',len(product_des))

length of Brand Name:  38
length of Price:  38
length of Discount Percentage:  38
length of Product Description:  38

In [104]:
first=pd.DataFrame({'Brand Name':brand_name,'Product Description':product_des,'Price':price_,'Discount %':discount_})
first

,Brand Name,Product Description,Price,Discount %
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹474,68% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
6,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
7,ROYAL SON,Polarized Retro Square Sunglasses (58),₹899,55% off
8,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹509,36% off
9,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹331,80% off
10,kingsunglasses,UV Protection Round Sunglasses (54),₹225,79% off
11,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
12,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹379,81% off
13,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,010",22% off
14,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
15,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,85% off
16,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
17,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",16% off
18,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
19,Wrogn,UV Protection Aviator Sunglasses (60),"₹1,007",69% off
20,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹546,31% off
21,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
22,GANSTA,UV Protection Aviator Sunglasses (57),₹266,86% off
23,PIRASO,UV Protection Aviator Sunglasses (58),₹399,84% off
24,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹738,26% off
25,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
26,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
27,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",₹664,55% off
28,Fastrack,UV Protection Sports Sunglasses (Free Size),₹771,14% off
29,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹199,86% off
30,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹299,80% off
31,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹499,66% off
32,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹331,80% off
33,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
34,Elligator,Mirrored Round Sunglasses (53),₹312,87% off
35,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹499,66% off
36,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹210,82% off
37,Fravy,UV Protection Wayfarer Sunglasses (56),₹179,80% off

#### 2nd page

In [105]:
next=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next.click()

In [106]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_names=[]
for i in brand:
    brand_names.append(i.text)
brand_names=brand_names[:-1]
print('\n Brand Name \n\n',brand_names)

 Brand Name

 ['Singco India', 'Singco India', 'kingsunglasses', 'PHENOMENAL', 'PIRASO', 'AISLIN', 'ROYAL SON', 'kingsunglasses', 'kingsunglasses', 'Fastrack', 'NuVew', 'HIPPON', 'DEIXELS', 'SRPM', 'ROZZETTA CRAFT', 'Fastrack', 'DEIXELS', 'Fastrack', 'Fastrack', 'PHENOMENAL', 'ROZZETTA CRAFT', 'Singco India', 'AISLIN', 'Elligator', 'Fastrack', 'NuVew', 'Fastrack', 'ROYAL SON', 'GANSTA', 'kingsunglasses', 'hipe', 'Fastrack', 'Elligator', 'Fastrack', 'elegante', 'Badfella', 'Singco', 'Flizz', 'Fastrack']

In [107]:
# extracting  all tags having price
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price__=[]
for i in price:
    price__.append(i.text)
price__=price__[:-1]
print('\n Price \n\n',price__)

 Price

 ['₹334', '₹214', '₹225', '₹379', '₹237', '₹545', '₹217', '₹299', '₹249', '₹826', '₹202', '₹257', '₹191', '₹246', '₹474', '₹1,115', '₹224', '₹539', '₹1,021', '₹379', '₹426', '₹331', '₹516', '₹331', '₹758', '₹345', '₹655', '₹379', '₹295', '₹299', '₹209', '₹660', '₹328', '₹759', '₹379', '₹255', '₹239', '₹399', '₹558']

In [108]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount__=[]
for i in discount:
    discount__.append(i.text)
discount__=discount__[:-1]
print('\n Discount % \n\n',discount__)

 Discount %

 ['72% off', '69% off', '77% off', '81% off', '85% off', '64% off', '78% off', '88% off', '79% off', '8% off', '74% off', '78% off', '84% off', '75% off', '78% off', '14% off', '62% off', '32% off', '21% off', '81% off', '80% off', '83% off', '66% off', '74% off', '15% off', '62% off', '27% off', '74% off', '85% off', '80% off', '79% off', '17% off', '86% off', '15% off', '81% off', '74% off', '76% off', '81% off', '30% off']

In [111]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_desc=[]
for i in product:
    product_desc.append(i.text)
product_desc=product_desc[:-1]
print('\n Product Description  \n\n',product_desc)

 Product Description

 ['UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection, Others Round, Aviator Sunglasses (54)', 'UV Protection, Mirrored Retro Square Sunglasses (Free S...', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection, Gradient Wayfarer Sunglasses (55)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Mirrored Round Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (55)', 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Aviator Sunglasses (58)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (59)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection, Riding Glasses Rectangular Sunglasses (F...', 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection Round Sunglasses (54)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Mirrored, Night Vision, Riding Glasses S...', 'UV Protection Wayfarer Sunglasses (56)', 'Mirrored Aviator Sunglasses (55)', 'UV Protection, Night Vision, Riding Glasses Aviator Sun...', 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Polarized, UV Protection Retro Square Sunglasses (53)', 'Mirrored Aviator Sunglasses (53)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)']

In [112]:
print('length of Brand Name: ',len(brand_names),
     '\nlength of Price: ',len(price__),
      '\nlength of Discount Percentage: ',len(discount__),
      '\nlength of Product Description: ',len(product_desc))

length of Brand Name:  39
length of Price:  39
length of Discount Percentage:  39
length of Product Description:  39

In [113]:
second=pd.DataFrame({'Brand Name':brand_names,'Product Description':product_desc,'Price':price__,'Discount %':discount__})
second

,Brand Name,Product Description,Price,Discount %
0,Singco India,UV Protection Aviator Sunglasses (Free Size),₹334,72% off
1,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹214,69% off
2,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹225,77% off
3,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
5,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹545,64% off
6,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
7,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
8,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹249,79% off
9,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹826,8% off
10,NuVew,UV Protection Aviator Sunglasses (58),₹202,74% off
11,HIPPON,UV Protection Wayfarer Sunglasses (55),₹257,78% off
12,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹191,84% off
13,SRPM,UV Protection Wayfarer Sunglasses (53),₹246,75% off
14,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹474,78% off
15,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,115",14% off
16,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹224,62% off
17,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹539,32% off
18,Fastrack,UV Protection Rectangular Sunglasses (59),"₹1,021",21% off
19,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
20,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off
21,Singco India,"Mirrored, UV Protection, Riding Glasses, Other...",₹331,83% off
22,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹516,66% off
23,Elligator,UV Protection Round Sunglasses (54),₹331,74% off
24,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
25,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹345,62% off
26,Fastrack,UV Protection Wayfarer Sunglasses (56),₹655,27% off
27,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
28,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹295,85% off
29,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹299,80% off
30,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹209,79% off
31,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹660,17% off
32,Elligator,UV Protection Aviator Sunglasses (55),₹328,86% off
33,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹759,15% off
34,elegante,UV Protection Round Sunglasses (Free Size),₹379,81% off
35,Badfella,"Polarized, UV Protection Retro Square Sunglass...",₹255,74% off
36,Singco,Mirrored Aviator Sunglasses (53),₹239,76% off
37,Flizz,UV Protection Retro Square Sunglasses (Free Size),₹399,81% off
38,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹558,30% off

#### 3rd page

In [114]:
next=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next.click()

In [115]:
# extracting  all tags having Brand name
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
# using for loop to extracting text
brand_name_=[]
for i in brand:
    brand_name_.append(i.text)
brand_name_=brand_name_[0:23]
print('\n Brand Name \n\n',brand_name_)

 Brand Name

 ['kingsunglasses', 'Elligator', 'Fastrack', 'Elligator', 'kingsunglasses', 'ROYAL SON', 'Singco India', 'ROYAL SON', 'ROZZETTA CRAFT', 'hipe', 'Villain', 'ROYAL SON', 'GANSTA', 'hipe', 'PIRASO', 'PIRASO', 'Wrogn', 'ROYAL SON', 'IRUS by IDEE', 'AISLIN', 'NuVew', 'elegante', 'Fravy']

In [116]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
# using for loop to extracting text
price1_=[]
for i in price:
    price1_.append(i.text)
price1_=price1_[0:23]
print('\n Price \n\n',price1_)

 Price

 ['₹229', '₹246', '₹1,699', '₹349', '₹349', '₹474', '₹293', '₹599', '₹449', '₹299', '₹599', '₹664', '₹230', '₹303', '₹399', '₹331', '₹684', '₹664', '₹606', '₹498', '₹232', '₹189', '₹339']

In [117]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
# using for loop to extracting text
discount1_=[]
for i in discount:
    discount1_.append(i.text)
discount1_=discount1_[0:23]
print('\n Discount % \n\n',discount1_)

 Discount %

 ['80% off', '87% off', '15% off', '76% off', '78% off', '68% off', '82% off', '70% off', '77% off', '76% off', '20% off', '66% off', '82% off', '84% off', '84% off', '79% off', '73% off', '66% off', '52% off', '70% off', '76% off', '81% off', '83% off']

In [118]:
product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_descr=[]
for i in product:
    product_descr.append(i.text)
product_descr=product_descr[0:23]
print('\n Product Description  \n\n',product_descr)

 Product Description

 ['UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...', 'UV Protection, Gradient, Mirrored Aviator, Round, Wayfa...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection, Riding Glasses Rectangular, Retro Square...', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (58)', 'Riding Glasses, Others, UV Protection Wrap-around Sungl...', 'UV Protection Retro Square Sunglasses (88)', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection, Gradient, Mirrored, Riding Glasses Recta...', 'Others Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Sports Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection Over-sized Sunglasses (60)', 'Gradient Rectangular Sunglasses (56)', 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)', 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)', 'UV Protection Round Sunglasses (Free Size)', 'UV Protection, Gradient, Night Vision Retro Square Sung...', 'UV Protection Retro Square Sunglasses (Free Size)']

In [119]:
print('length of Brand Name: ',len(brand_name_),
     '\nlength of Price: ',len(price1_),
      '\nlength of Discount Percentage: ',len(discount1_),
      '\nlength of Product Description: ',len(product_descr))

length of Brand Name:  23
length of Price:  23
length of Discount Percentage:  23
length of Product Description:  23

In [120]:
import pandas as pd
third=pd.DataFrame({'Brand Name':brand_name_,'Product Description':product_descr,'Price':price1_,'Discount %':discount1_})
third

,Brand Name,Product Description,Price,Discount %
0,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹229,80% off
1,Elligator,"UV Protection, Gradient, Mirrored Aviator, Rou...",₹246,87% off
2,Fastrack,UV Protection Aviator Sunglasses (Free Size),"₹1,699",15% off
3,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹349,76% off
4,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
5,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
6,Singco India,"Riding Glasses, Others, UV Protection Wrap-aro...",₹293,82% off
7,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
8,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
9,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹299,76% off
10,Villain,Others Retro Square Sunglasses (Free Size),₹599,20% off
11,ROYAL SON,UV Protection Round Sunglasses (54),₹664,66% off
12,GANSTA,UV Protection Aviator Sunglasses (57),₹230,82% off
13,hipe,UV Protection Sports Sunglasses (Free Size),₹303,84% off
14,PIRASO,UV Protection Aviator Sunglasses (58),₹399,84% off
15,PIRASO,UV Protection Wayfarer Sunglasses (56),₹331,79% off
16,Wrogn,UV Protection Over-sized Sunglasses (60),₹684,73% off
17,ROYAL SON,Gradient Rectangular Sunglasses (56),₹664,66% off
18,IRUS by IDEE,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹606,52% off
19,AISLIN,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹498,70% off
20,NuVew,UV Protection Round Sunglasses (Free Size),₹232,76% off
21,elegante,"UV Protection, Gradient, Night Vision Retro Sq...",₹189,81% off
22,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹339,83% off

In [121]:
df=pd.concat([first,second,third],axis=0)
df.reset_index()
df.head()

,Brand Name,Product Description,Price,Discount %
0,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹474,68% off
2,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off

#

## Q7.Scrape 100 reviews data from flipkart.com for iphone11 phone from https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [122]:
import pandas as pd
import selenium
from selenium import webdriver

In [123]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [124]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [125]:
allr=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
allr.click()

In [126]:
url=driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [127]:
rating=[]
for i in url_:
    driver.get(i)
    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rat:
        rating.append(i.text)
rating=rating[0:100]
print('\n Rating  \n\n',rating)

 Rating

 ['5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '4', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '4', '5', '3', '5', '5', '5', '5', '5', '5', '5', '5', '5', '3', '5', '5', '5', '5', '5', '5', '5']

In [128]:
review_summary=[]
for i in url_:
    driver.get(i)
    rs=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rs:
        review_summary.append(i.text)
review_summary=review_summary[0:100]
print('\n Review Summary  \n\n',review_summary)

 Review Summary

 ['Brilliant', 'Simply awesome', 'Perfect product!', 'Fabulous!', 'Worth every penny', 'Great product', 'Good choice', 'Worth every penny', 'Highly recommended', 'Best in the market!', 'Perfect product!', 'Highly recommended', 'Perfect product!', 'Classy product', 'Worth every penny', 'Perfect product!', 'Simply awesome', 'Highly recommended', 'Worth every penny', 'Terrific', 'Nice product', 'Wonderful', 'Classy product', 'Brilliant', 'Must buy!', 'Good choice', 'Perfect product!', 'Wonderful', 'Terrific purchase', 'Great product', 'Simply awesome', 'Mind-blowing purchase', 'Terrific purchase', 'Excellent', 'Simply awesome', 'Good quality product', 'Very poor', 'Perfect product!', 'Must buy!', 'Fabulous!', 'Mind-blowing purchase', 'Mind-blowing purchase', 'Wonderful', 'Worth every penny', 'Great product', 'Very Good', 'Perfect product!', 'Classy product', 'Perfect product!', 'Just wow!', 'Awesome', 'Terrific', 'Terrific purchase', 'Awesome', 'Classy product', 'Brilliant', 'Terrific', 'Perfect product!', 'Awesome', 'Perfect product!', 'Very poor', 'Fabulous!', 'Excellent', 'Must buy!', 'Value-for-money', 'Brilliant', 'Terrific purchase', 'Good quality product', 'Perfect product!', 'Awesome', 'Value-for-money', 'Just wow!', 'Super!', 'Best in the market!', 'Classy product', 'Highly recommended', 'Mind-blowing purchase', 'Must buy!', 'Excellent', 'Excellent', 'Terrific', 'Pretty good', 'Nice product', 'Mind-blowing purchase', 'Does the job', 'Wonderful', 'Worth every penny', 'Worth every penny', 'Fabulous!', 'Classy product', 'Awesome', 'Wonderful', 'Terrific purchase', 'Awesome', 'Decent product', 'Super!', 'Fabulous!', 'Just wow!', 'Mind-blowing purchase', 'Excellent']

In [129]:
full_review=[]
for i in url_:
    driver.get(i)
    fr=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in fr:
        full_review.append(j.text.replace('\n',' '))
full_review=full_review[0:100]
print('\n Full Review  \n\n',full_review)

 Full Review


In [130]:
print('length of Rating: ',len(rating),
     '\nlength of Review Summary: ',len(review_summary),
      '\nlength of Full Review: ',len(full_review))

length of Rating:  100
length of Review Summary:  100
length of Full Review:  100

In [131]:
df=pd.DataFrame({'Rating':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone. And I truly don’...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance Camera is superb The ...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Excellent,A perfect phone and a good battery super camer...

#

## Q8.Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [132]:
import pandas as pd
import selenium
from selenium import webdriver

In [133]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [134]:
driver.get('https://www.flipkart.com/')

In [135]:
login_box=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_box.click()

In [136]:
enter=driver.find_element_by_name('q')
enter.send_keys('sneakers')

In [137]:
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [138]:
url=driver.find_elements_by_xpath("//div[@class='_2MImiq']//a")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_=url_[0:10]
url_

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=10']

In [139]:
brand_name_=[]
for i in url_:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        brand_name_.append(i.text)
brand_name_=brand_name_[0:100]
print('\n Brand Name \n\n',brand_name_)

 Brand Name

 ['DUCATI', 'luxury fashion', 'Chevit', 'PEHANOSA', 'ASTEROID', 'Numenzo', 'World Wear Footwear', 'luxury fashion', 'Chevit', 'luxury fashion', 'Numenzo', 'U.S. POLO ASSN.', 'Chevit', 'Shoes Bank', 'bluemaker', 'RED TAPE', 'Chevit', 'BRUTON', 'Creer', 'Chevit', 'Chevit', 'Longwalk', 'T-ROCK', 'Magnolia', 'Chevit', 'BIRDE', 'Absolute comfort', 'India hub', 'Robbie jones', 'Robbie jones', 'TR', 'U.S. POLO ASSN.', 'HOTSTYLE', 'World Wear Footwear', 'restinfoot', 'BIRDE', 'Red Rose', 'SPARX', 'Kraasa', 'ROCKFIELD', 'India hub', 'PUMA', 'WRIZT', 'DUCATI', 'BIRDE', 'Zsyto', 'World Wear Footwear', 'luxury fashion', 'HOC', 'Jack Diamond', 'Arohi', 'luxury fashion', 'Zorth', 'Edoeviv', 'Nilatin', 'luxury fashion', 'World Wear Footwear', 'bluemaker', 'Airland', 'luxury fashion', 'India hub', 'D-SNEAKERZ', 'ESSENCE', 'India hub', 'luxury fashion', 'BRUTON', 'World Wear Footwear', 'U.S. POLO ASSN.', 'Edoeviv', 'Numenzo', 'SPARX', 'Chevit', 'VIPSJAZZY', 'Ktiz', 'Tying', 'RED TAPE', 'Magnolia', 'Labbin', 'BRUTON', 'U.S. POLO ASSN.', 'bluemaker', 'Wakefield', 'Chevit', 'DUCATI', 'Labbin', 'India hub', 'SEGA', 'luxury fashion', 'BRUTON', 'SPARX', 'Numenzo', 'luxury fashion', 'ESSENCE', 'BRUTON', 'Zixer', 'India hub', 'ESSENCE', 'D-SNEAKERZ', 'RED TAPE', 'India hub']

In [140]:
price1_=[]
for i in url_:
    driver.get(i)
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        price1_.append(i.text)
price1_=price1_[0:100]
print('\n Price \n\n',price1_)

 Price

 ['₹1,219', '₹389', '₹599', '₹419', '₹499', '₹378', '₹240', '₹399', '₹449', '₹449', '₹426', '₹399', '₹664', '₹349', '₹399', '₹389', '₹284', '₹474', '₹418', '₹399', '₹473', '₹260', '₹378', '₹3,916', '₹759', '₹698', '₹198', '₹899', '₹499', '₹474', '₹449', '₹474', '₹279', '₹240', '₹378', '₹348', '₹399', '₹620', '₹416', '₹1,949', '₹404', '₹2,042', '₹279', '₹1,219', '₹379', '₹378', '₹240', '₹389', '₹378', '₹635', '₹464', '₹399', '₹439', '₹474', '₹407', '₹399', '₹499', '₹399', '₹264', '₹399', '₹399', '₹348', '₹319', '₹389', '₹449', '₹473', '₹240', '₹3,916', '₹449', '₹407', '₹610', '₹474', '₹399', '₹429', '₹888', '₹899', '₹348', '₹449', '₹359', '₹1,949', '₹399', '₹199', '₹360', '₹1,219', '₹399', '₹387', '₹639', '₹389', '₹323', '₹636', '₹407', '₹399', '₹353', '₹499', '₹555', '₹3,916', '₹353', '₹384', '₹1,649', '₹399']

In [141]:
discount1_=[]
for i in url_:
    driver.get(i)
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    # using for loop to extracting text
    for i in discount:
        discount1_.append(i.text)
discount1_=discount1_[0:100]
print('\n Discount % \n\n',discount1_)

 Discount %

 ['67% off', '80% off', '62% off', '58% off', '75% off', '62% off', '51% off', '69% off', '70% off', '65% off', '78% off', '80% off', '74% off', '65% off', '60% off', '86% off', '71% off', '86% off', '58% off', '69% off', '73% off', '47% off', '62% off', '2% off', '69% off', '65% off', '60% off', '78% off', '50% off', '52% off', '77% off', '76% off', '72% off', '51% off', '62% off', '65% off', '60% off', '11% off', '58% off', '35% off', '86% off', '41% off', '72% off', '67% off', '24% off', '70% off', '51% off', '80% off', '81% off', '36% off', '53% off', '69% off', '56% off', '40% off', '68% off', '86% off', '81% off', '60% off', '47% off', '80% off', '69% off', '47% off', '68% off', '2% off', '85% off', '81% off', '51% off', '76% off', '55% off', '68% off', '18% off', '78% off', '60% off', '66% off', '55% off', '35% off', '65% off', '55% off', '72% off', '24% off', '60% off', '60% off', '63% off', '67% off', '60% off', '87% off', '36% off', '80% off', '75% off', '15% off', '59% off', '69% off', '64% off', '80% off', '44% off', '86% off', '64% off', '61% off', '70% off', '69% off']

In [142]:
product_descr=[]
for i in url_:
    driver.get(i)
    product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    # using for loop to extracting text
    for i in product:
        product_descr.append(i.text)
product_descr=product_descr[0:100]
print('\n Product Description  \n\n',product_descr)

 Product Description

 ['Sneakers For Men', 'Fashionable casual sneaker sports shoes Sneakers For Me...', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...', 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Sneakers For Men', '5011-Latest Collection Stylish Casual Loafer Sneakers S...', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', 'Fashionable casual sneaker shoes Sneakers For Men', 'Perfect & Affordable Combo Pack of 03 Pairs Casual Snea...', "White Sneaker For Men's/Boy's Sneakers For Men", 'casual for men (blue 08) Sneakers For Men', 'Fashionable casual sneakers shoes Sneakers For Men', '494 Perfect Sports Shoes for Running Training Hikking &...', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Sneakers For Men', 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...', 'Men Boxer Sneakers For Men', 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...', 'LEBRON 2.0 Sneakers For Men', 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...', 'Combo Pack of 4 Casual Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Combo Pack of 4 Casual Sneakers With Sneakers For Men', 'Sneakers For Men', 'Men 5014 Latest Collection Stylish Casual Sports Loafer...', 'Casual shoes Sneakers For Men', 'White Sneakers Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', 'CLARKIN Sneakers For Men', 'Fashionable casual sneakers shoes Sneakers For Men', 'Hip Hop Mid Perf IDP Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Latest Collection-1227 Stylish Casual Sports Sneakers F...', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Luxury Fashionable Breathable White shoes for men Sneak...', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'White Sneaker for Men Sneakers For Men', 'LEBRON 2.0 Sneakers For Men', 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...', 'casual for men (beige 06) Sneakers For Men', 'shoe Sneakers For Men', 'Combo Pack of 4 Casual Sneakers With Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Casuals Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Sneakers For Men', 'CLARKIN Sneakers For Men', "Luxury Branded Fashionable Men's Casual Walking Partywe...", 'White Sneaker For Men Sneakers For Men', 'Fashionable sneaker casual shoes Sneakers For Men', 'Rockstyle Trending Multicolor Ultralight canvas Sport/ ...', 'Model name: New Latest Affordable Range of Combo Pack o...', 'Casual Shoes Sneakers For Men', 'White Sneakers Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'casual for men Sneakers For Men', 'Sneakers For Men', 'Smart Casuals Canvas Shoes Combo pack of 2 Sneakers For...', 'Sneakers For Men', 'Casual Sneakers White Shoes For Men And Boys Sneakers F...', 'Fashionable casual sneakers shoes Sneakers For Men', 'Sneakers For Men', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Lattest Sneakers Shoe Sneakers For Men', 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...', 'Sneakers For Men', 'Fashionable casual sneaker sports shoes Sneakers For Me...', 'Trendy Sneakers For Men', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', 'Scuderia Ferrari Drift Cat 8 Sneakers For Men', 'Sneakers For Men', 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'CETLLO Mens Casual Sport White Wallking Smart Sneakers ...', 'Fashionable casual sneaker shoes Sneakers For Men', 'Fashion Sneakers For Men', '168 Smart Red Lace-Ups Casuals for Men Sneakers For Men', 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men', 'LEBRON 2.0 Sneakers For Men', "Men's Stylish Casual Shoes Sneakers For Men", 'Men & Boys Stylish, Comfortable Mesh Shoes With Soft La...', 'Sneakers For Men']

In [143]:
print('length of Brand Name: ',len(brand_name_),
     '\nlength of Price: ',len(price1_),
      '\nlength of Discount Percentage: ',len(discount1_),
      '\nlength of Product Description: ',len(product_descr))

length of Brand Name:  100
length of Price:  100
length of Discount Percentage:  100
length of Product Description:  100

In [144]:
df=pd.DataFrame({'Brand Name':brand_name_,'Product Description':product_descr,'Price':price1_,'Discount %':discount1_})
df.head()

,Brand Name,Product Description,Price,Discount %
0,DUCATI,Sneakers For Men,"₹1,219",67% off
1,luxury fashion,Fashionable casual sneaker sports shoes Sneake...,₹389,80% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62% off
3,PEHANOSA,Sneakers For Men,₹419,58% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off

#

# 9.Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [145]:
import pandas 
import selenium
from selenium import webdriver

In [146]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [147]:
driver.get('https://www.myntra.com/shoes')

In [148]:
cf=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
cf.click()

In [149]:
pf=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
pf.click()

In [150]:
url=driver.find_elements_by_xpath("//div[@class='results-showMoreContainer']//a")
urll=[]
for i in url:
    urll.append(i.get_attribute('href'))
urll=urll[0:5] # reduce to 5 pages
urll

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0&p=3',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0&p=4',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5349.0_10499.0_5349.0%20TO%2010499.0&p=5']

In [151]:
brandd=[]
for i in urll:
    driver.get(i)
    b=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in b:
        brandd.append(i.text)
brandd=brandd[0:100]
print('\n Brand Name  \n\n',brandd)

 Brand Name

 ['Nike', 'Nike', 'Nike', 'Nike', 'Nike', 'Puma', 'UNDER ARMOUR', 'RARE RABBIT', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Puma', 'UNDER ARMOUR', 'UNDER ARMOUR', 'TARMAK By Decathlon', 'UNDER ARMOUR', 'Hush Puppies', 'PUMA Hoops', 'Hush Puppies', 'UNDER ARMOUR', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Puma', 'Geox', 'Hush Puppies', 'RARE RABBIT', 'Puma', 'FORCLAZ By Decathlon', 'Metro', 'UNDER ARMOUR', 'Hush Puppies', 'ADIDAS', 'Reebok', 'Hush Puppies', 'Geox', 'Puma', 'Hush Puppies', 'Quechua By Decathlon', 'Puma', 'Hush Puppies', 'UNDER ARMOUR', 'H&M', 'Bugatti', 'Quechua By Decathlon', 'Quechua By Decathlon', 'Puma', 'FILA', 'FORCLAZ By Decathlon', 'Lacoste', 'PUMA Motorsport', 'Hush Puppies', 'FORCLAZ By Decathlon', 'Hush Puppies', 'Hush Puppies', 'Geox', 'Geox', 'Cole Haan', 'UNDER ARMOUR', 'Geox', 'DAVINCHI', 'J.FONTINI', 'Puma', 'Cole Haan', 'Bugatti', 'J.FONTINI', 'Bugatti', 'Hush Puppies', 'Bugatti', 'Geox', 'Xtep', 'Hush Puppies', 'Saint G', 'Xtep', 'Geox', 'Saint G', 'KIPRUN By Decathlon', 'J.FONTINI', 'RARE RABBIT', 'RARE RABBIT', 'ASICS', 'RARE RABBIT', 'Hush Puppies', 'Kenneth Cole', 'Geox', 'UNDER ARMOUR', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Blackberrys', 'Hush Puppies', 'Saint G', 'Bugatti', 'Birkenstock', 'Geox', 'Geox', 'Geox', 'UNDER ARMOUR', 'Kenneth Cole', 'Geox', 'UNDER ARMOUR', 'Xtep', 'Heel & Buckle London']

In [152]:
d=[]
for i in urll:
    driver.get(i)
    pd=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in pd:
        d.append(i.text)
d=d[0:100]
print('\n Short Description  \n\n',d)

 Short Description

 ["Men BlazerLow '77 Sneakers", 'Men Flex Run 2021 Running Shoe', 'Men Crater Remixa Sneakers', 'Unisex KD Trey 5 IX Shoes', 'Men Renew Retaliation TR 3', 'Men Cell Fraction Fade Running', 'Men Solid Sneakers', 'Men Charged Pursuit 2 SE', 'Men Charged Pursuit 2 SE Shoes', 'Unisex Project Rock Recruit', 'Mesh Hybrid Fuego Running', 'Men Phade Running Shoes', 'Men Charged Rogue 2.5 RFLCT', 'Men Basketball Shoes', 'Men Leather Slip-On Sneakers', 'Men Charged Assert 8 Marble', 'Unisex Clyde Basketball Shoes', 'Men Leather Slip-On Sneakers', 'Men Charged Commit 3 Training', 'GS SC 3Zero IV Basketball', 'Women Charged Bandit 6 Running', 'Women Velocity Nitro Running', 'Men Solid Leather Formal Oxfords', 'Men SOFTRIDE Rift Shoes', 'Men Leather Formal Slip-Ons', 'TREKKING 100 Boots', 'Women High-Top Heeled Boots', 'Women Charged Rogue 2.5ClrSft', 'Men Woven Design Sneakers', 'Men Solid Leather Formal Slip-Ons', 'Women SUPERNOVA Running Shoes', 'Men Perforations Leather Brogues', 'Forever Floatride Energy 2', 'Men Leather Monk Shoes', 'Men Solid Leather Formal Slip-Ons', 'Women Eternity Nitro Running', 'Men Trekking Shoes', 'Women Deviate Nitro Running', 'Men Leather Derbys', 'Men HOVR Sonic STRT Tech Shoes', 'Men Leather Formal Derbys', 'Black Leather boots', 'Men Sneakers', 'Waterproof Walking Shoes', 'Women Waterproof Hiking Shoes', 'Men Leader VT Running Shoes', 'Men Running Shoes', 'Men Woven Design Slip-On Sneakers', 'Unisex Sneakers', 'Men Hiking Shoes', 'Men Woven Design Slip-On Sneakers', 'Unisex Sneakers', 'Men Formal Derbys', 'Men Leather Formal Oxfords', 'Men Textured Leather Driving Shoes', 'Men Leather Driving Shoes', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Victory Sneakers', 'Men Leather Slip-On Sneakers', 'Men Solid Loafers', 'Men Solid Formal Leather Slip-On Shoes', 'Women Leather Pumps', 'Unisex Connect Splash Trainers', 'Leather Sneakers', 'Men Textured Leather Formal Loafers', 'Men Textured Leather Loafers', 'Men Leather Formal Slip-Ons', 'Men Solid Sneakers', 'Men Slip-On Sneakers', 'Men Colourblocked Driving Shoes', 'Women Mules', 'Men Leather Formal Oxfords', 'Men Leather Formal Derbys', 'AIR MEGA Energy Ring Shoes', 'Men Solid Leather Formal Derbys', 'Men Leather Formal Brogues', 'Women Chunky Sneakers', 'Women Leather Horsebit Loafers', 'Women Running Shoes', 'Leather Block Sandals', 'Men Leather Formal Monks', 'Men Woven Design Sneakers', 'Men Perforations Leather Brogues', 'Women Leather Heeled Boots', 'Men Solid Leather Formal Slip-Ons', 'Women Running Shoes', 'Men Leather Formal Loafers', 'Men Solid Leather Formal Derbys', 'Men Leather Formal Derbys', 'Women Running Shoes', 'Women Charged Vantage ClrShft', 'Women Charged Assert 8 Running', 'Women Charged Impulse Shft', 'Men Leather Derbys', 'Women Leather Heeled Boots', 'Women Leather Sneakers', 'Women Mid-Top Sneakers', 'Women Gizeh Flats', 'Men Leather Formal Slip-Ons', 'Women Charged Breathe OIL SLK']

In [153]:
p=[]
for i in urll:
    driver.get(i)

    pr=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in pr:
        p.append(i.text)
p=p[0:100]
print('\n Price  \n\n',p)

 Price

 ['Rs. 7195', 'Rs. 5995', 'Rs. 5495', 'Rs. 6795', 'Rs. 8195', 'Rs. 6999', 'Rs. 6999', 'Rs. 6999', 'Rs. 9999', 'Rs. 6999', 'Rs. 6499', 'Rs. 7999', 'Rs. 5499', 'Rs. 6299Rs. 6999(10% OFF)', 'Rs. 6999', 'Rs. 6599Rs. 10999(40% OFF)', 'Rs. 6999Rs. 9999(30% OFF)', 'Rs. 7999', 'Rs. 7499', 'Rs. 8999', 'Rs. 5399Rs. 5999(10% OFF)', 'Rs. 6599Rs. 10999(40% OFF)', 'Rs. 5999Rs. 7999(25% OFF)', 'Rs. 6499', 'Rs. 6999', 'Rs. 5490', 'Rs. 7999', 'Rs. 6499', 'Rs. 9999', 'Rs. 6999Rs. 9999(30% OFF)', 'Rs. 8099Rs. 8999(10% OFF)', 'Rs. 5999Rs. 9999(40% OFF)', 'Rs. 5399Rs. 5999(10% OFF)', 'Rs. 7799Rs. 12999(40% OFF)', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 9999', 'Rs. 5599Rs. 7999(30% OFF)', 'Rs. 9749Rs. 14999(35% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 9999', 'Rs. 5999', 'Rs. 6399Rs. 7999(20% OFF)', 'Rs. 5669Rs. 6999(19% OFF)', 'Rs. 6999', 'Rs. 5499', 'Rs. 5999', 'Rs. 6749Rs. 8999(25% OFF)', 'Rs. 8499', 'Rs. 5579Rs. 5999(7% OFF)', 'Rs. 5525Rs. 8500(35% OFF)', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 5399Rs. 5999(10% OFF)', 'Rs. 7874Rs. 10499(25% OFF)', 'Rs. 9999', 'Rs. 9990', 'Rs. 9599Rs. 11999(20% OFF)', 'Rs. 5999', 'Rs. 9490', 'Rs. 6990', 'Rs. 8990', 'Rs. 8999', 'Rs. 8799Rs. 10999(20% OFF)', 'Rs. 6399Rs. 7999(20% OFF)', 'Rs. 7990', 'Rs. 6399Rs. 7999(20% OFF)', 'Rs. 6299Rs. 8999(30% OFF)', 'Rs. 5999Rs. 7499(20% OFF)', 'Rs. 10490', 'Rs. 5599Rs. 6999(20% OFF)', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 5699', 'Rs. 10355Rs. 10900(5% OFF)', 'Rs. 7999Rs. 15999(50% OFF)', 'Rs. 9900', 'Rs. 7006Rs. 7149(2% OFF)', 'Rs. 6990', 'Rs. 6293Rs. 8990(30% OFF)', 'Rs. 6299Rs. 8999(30% OFF)', 'Rs. 6299Rs. 6999(10% OFF)', 'Rs. 6999', 'Rs. 7999', 'Rs. 6999', 'Rs. 7499', 'Rs. 6499', 'Rs. 5495', 'Rs. 5399Rs. 5999(10% OFF)', 'Rs. 6500', 'Rs. 9999', 'Rs. 5999Rs. 7499(20% OFF)', 'Rs. 5990', 'Rs. 5624Rs. 7499(25% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 6299Rs. 8999(30% OFF)', 'Rs. 6749Rs. 8999(25% OFF)', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 6293Rs. 8990(30% OFF)', 'Rs. 9999', 'Rs. 5599Rs. 7999(30% OFF)', 'Rs. 5399Rs. 5999(10% OFF)', 'Rs. 7693Rs. 10990(30% OFF)']

In [154]:
print('length of Brand Name: ',len(brandd),
     '\nlength of Price: ',len(p),
      '\nlength of Short Description: ',len(d))

length of Brand Name:  100
length of Price:  100
length of Short Description:  100

In [155]:
df=pandas.DataFrame({'Brand':brandd,'Price':p,'Short Desc':d})
df

,Brand,Price,Short Desc
0,Nike,Rs. 7195,Men BlazerLow '77 Sneakers
1,Nike,Rs. 5995,Men Flex Run 2021 Running Shoe
2,Nike,Rs. 5495,Men Crater Remixa Sneakers
3,Nike,Rs. 6795,Unisex KD Trey 5 IX Shoes
4,Nike,Rs. 8195,Men Renew Retaliation TR 3
...,...,...,...
95,Kenneth Cole,Rs. 6293Rs. 8990(30% OFF),Women Leather Sneakers
96,Geox,Rs. 9999,Women Mid-Top Sneakers
97,UNDER ARMOUR,Rs. 5599Rs. 7999(30% OFF),Women Gizeh Flats
98,Xtep,Rs. 5399Rs. 5999(10% OFF),Men Leather Formal Slip-Ons
99,Heel & Buckle London,Rs. 7693Rs. 10990(30% OFF),Women Charged Breathe OIL SLK

#

# 10.Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [156]:
import pandas 
import selenium
from selenium import webdriver

In [169]:
driver=webdriver.Chrome('chromedriver.exe')
driver

In [170]:
driver.get('https://www.amazon.in/')

In [171]:
s=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
s.send_keys('Laptop')

In [172]:
sbc=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
sbc.click()

In [175]:
i7=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label/i")
i7.click()

In [177]:
i9=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a/div/label/i")
i9.click()

In [178]:
lt=[]
# extracting laptop title
lt_=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in lt_:
    lt.append(i.text)
lt=lt[:-14]
print('\n Laptop Title  \n\n',lt)

 Laptop Title

 ['Lenovo Legion 7 10th Gen Intel Core i7 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU002AIN', 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Eclipse Gray/2 kg), FX516PE-HN088TS', 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)', 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN', 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam', 'ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-10870H 10th Gen, NVIDIA GeForce GTX 1650 4GB Graphics, Gaming Laptop(8GB/512GB SSDWindows 10/Gray/2.3 Kg), FX566LH-HN255T', 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7', 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS', 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN', 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN', 'Dell Inspiron 5502 15.6" FHD AG Display Laptop (11th Gen i7-1165G7/8 GB/512 SSD/NVIDIA MX 330 2GB/Win 10 + MSO/Silver) D560377WIN9S', '(Renewed) Lenovo Intel Core i7-4th Gen 14 Inch(35.56 cms) 1920 x 1080 HD Laptop (8GB RAM/1TB HDD/Windows 10 Pro/MS Office/ Intel HD graphics,Black,2.0kg) Lenovo ThinkPad T440p', '(Renewed) Lenovo Intel Core i7-4th Gen 14 Inch(35.56 cms) 1920 x 1080 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office/ Intel HD graphics,Black,2.0kg) Lenovo ThinkPad T440p', 'Samsung Galaxy Book Flex 13.3” | Samsung Laptop with QLED Display and Intel Core i7 Processor | Galaxy Book Flex Laptop with Long Battery Life and Bluetooth-Enabled S Pen | (NP930QCG-K01US)', 'HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX', 'Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14" (35.56cm) FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN']

In [179]:
p_=[]
# extracting price
pr_=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr_:
    p_.append(i.text)
p_=p_[:16]
print('\n Price  \n\n',p_)

 Price

 ['1,80,990', '1,07,990', '84,990', '81,990', '59,490', '71,990', '34,990', '77,990', '74,990', '90,490', '85,890', '44,999', '50,999', '1,09,990', '1,03,100', '1,18,990']

In [180]:
# extracting all urls for rating inside page
url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
url_=[]
for i in url:
    url_.append(i.get_attribute('href'))
url_

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10177402EY6V3DSAAEXB&url=%2FLenovo-Legion-Windows-Graphics-81YU002AIN%2Fdp%2FB08FJCRGPR%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A05737051OF0H1VKX0MNY&url=%2FASUS-TUF-F15-i7-11370H-FX516PE-HN088TS%2Fdp%2FB094RDLV5P%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SDR-1280IN/dp/B093L8JCZV/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/ASUS-15-6-inch-i7-10870H-SSDWindows-FX566LH-HN255T/dp/B096VKVFCN/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Dell-Inspiron-Display-i7-1165G7-D560377WIN9S/dp/B08QN2PYWF/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Renewed-Lenovo-Windows-graphics-ThinkPad/dp/B09B54LZ8M/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/Renewed-Lenovo-Windows-graphics-ThinkPad/dp/B09B546HS2/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Samsung-Display-Processor-Bluetooth-Enabled-NP930QCG-K01US/dp/B085D2HHBT/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A10081262K6KZOZ37JXYV&url=%2FHP-Processor-13-3-inch-Touchscreen-13-ba1018TX%2Fdp%2FB091FJ13Q5%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_mtf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A0870125WC700WBB6DFH&url=%2FLenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN%2Fdp%2FB08P3M22QQ%2Fref%3Dsr_1_16_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-16-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_mtf',
 'https://www.amazon.in/Renewed-Lenovo-15-6-Inch-Windows-81UH006YIN/dp/B08TC5GDVR/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Lenovo-Upgradable-Integrated-Graphics-WARRANTY/dp/B092Z88D2F/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Renewed-Lenovo-Windows-graphics-ThinkPad/dp/B09B54JSCS/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Renewed-Digital-Laptop-15-6-inch-Windows/dp/B095224LRK/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/ASUS-VivoBook-S532EQ-BQ702TS-I7-1165G7-SILVER/dp/B08PZ3VRCS/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Lenovo-Upgradable-Integrated-Graphics-WARRANTY/dp/B092Z9G6S5/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/ASUS-TUF-F15-i7-11370H-FX516PE-HN088TS/dp/B094RDLV5P/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Lenovo-Upgradable-Integrated-Graphics-WARRANTY/dp/B092Z9TGBP/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/CERTIFIED-REFURBISHED-Microsoft-Integrated-Graphics/dp/B07J2LNSXC/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Lenovo-IdeaPad-250Nits-Graphics-81Y4019EIN/dp/B097TZMG7R/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26',
 'https://www.amazon.in/Dell-Latitude-E6420-Dedicated-Professional/dp/B07WVC8HW3/ref=sr_1_27?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-27',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_28?dchild=1&keywords=Laptop&qid=1628838854&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-28',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A00766773MSMG2AO2CGIQ&url=%2FAcer-Swift-Display-Touchscreen-Notebook%2Fdp%2FB08M41DHTV%2Fref%3Dsr_1_29_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-29-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A0872671147908G7LKB8X&url=%2FMSI-i7-10750H-IPS-Level-Windows-10SDR-1280IN%2Fdp%2FB093L8JCZV%2Fref%3Dsr_1_30_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1628838854%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-30-spons%26psc%3D1&qualifier=1628838854&id=7446948253468906&widgetName=sp_btf']

In [181]:
r_=[]
for i in url_:
    driver.get(i) # to open the url
    lr=driver.find_elements_by_xpath("//div[@class='a-fixed-left-grid-col aok-align-center a-col-right']")
    for i in lr:
        r_.append(i.text.replace('\n',' '))
r_=r_[:16]
print('\n Rating \n\n',r_)

 Rating

 ['2.9 out of 5', '4.5 out of 5', '4.3 out of 5', '3.6 out of 5', '4.4 out of 5', '4 out of 5', '3.8 out of 5', '4.3 out of 5', '4.6 out of 5', '4 out of 5', '5 out of 5', '4.6 out of 5', '4.1 out of 5', '4.2 out of 5', '4 out of 5', '2 out of 5']

In [182]:
print('length of Laptop Title: ',len(lt),
     '\nlength of Price: ',len(p_),
      '\nlength of Rating: ',len(r_))

length of Laptop Title:  16
length of Price:  16
length of Rating:  16

In [183]:
df=pandas.DataFrame({'Laptop Title':lt,'Price':p_,'Rating':r_})
df

                                         Laptop Title     Price        Rating
0   Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...  1,80,990  2.9 out of 5
1   ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
2   HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.3 out of 5
3   MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    81,990  3.6 out of 5
4   Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,490  4.4 out of 5
5   ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    71,990    4 out of 5
6   Life Digital Laptop 15.6-inch (39.62 cms) (Int...    34,990  3.8 out of 5
7   ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    77,990  4.3 out of 5
8   MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990  4.6 out of 5
9   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    90,490    4 out of 5
10  Dell Inspiron 5502 15.6" FHD AG Display Laptop...    85,890    5 out of 5
11  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...    44,999  4.6 out of 5
12  (Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...    50,999  4.1 out of 5
13  Samsung Galaxy Book Flex 13.3” | Samsung Lapto...  1,09,990  4.2 out of 5
14  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,03,100    4 out of 5
15  Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...  1,18,990    2 out of 5